.card-disco:hover {
    border: 2px solid black;
    cursor: pointer;
}

.fa-rectangle-xmark:hover {
    cursor: pointer;
}

.info-disco {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    height: 90%;

    background-color: #282828;
    opacity: 0.9;

}